{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" align="right">
        <a class="btn btn-primary" href="{{ path('homepage')}}">
            <span class="glyphicon glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
    </div>
    <div class="container">
        <table class="table tab-content">
            <thead>
            <tr class="success">
                <th>Id</th>
                <th>Name</th>
                <th>Count</th>
                <th>Answers list</th>
                <th>Question name update</th>
            </tr>
            </thead>

            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.answers|length }}</td>
                    <td><a class="btn btn-info " href="{{ path('answers_list', {'id': question.id}) }}">
                            <span class="glyphicon glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Answers list</a></td>
                    <td><a class="btn btn-success " href="{{ path('question_update', {'id': question.id}) }}">
                            <span class="glyphicon glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> Question update</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
